
.btn-text{
  font-weight: 700;
  color: #458ff6;
  font-size: 18px;
  letter-spacing: 0;
  white-space: nowrap;
}

.btn-learnmore:active{
  transform: scale(0.9);
}
.btn-view-all:active{
  transform: scale(0.9);
}
.consult-btn:active{
  transform: scale(0.9);
}

.btn-learnmore:hover {
  filter: drop-shadow(0 0 1em #aaaffeaa);
}
.btn-view-all:hover {
  filter: drop-shadow(0 0 1em #aaaffeaa);
}
.consult-btn:hover {
  filter: drop-shadow(0 0 1em #aaaffeaa);
}

/*___________HEADER_________________*/
.head{
  display: flex;
}

.ellipse {
  margin-left: 191px;
  margin-top: 51px;
  width: 41px;
  height: 41px;
  background-color: #458ff6;
  border-radius: 20.5px;
  }

.logo-letter{
  display: block;
  margin-left: 12px;
  margin-top: 4px;
  width: 17px;
  font-weight: 700;
  color: #ffffff;
  font-size: 26px;
  letter-spacing: 0;
  }

.title{
  margin-top: 55px;
  margin-left: 12px;
  font-weight: 700;
  color: #233248;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  }

.ellipse:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

/*___________SUB-HEADER_________________*/

.sub-header{
  display: flex;
}
.left-side-virtual-healthcare{
  display: block;
  margin-left: 191px;
  margin-right: 127px;
}
.sub-header-illustration {
  width: 693px;
  height: 598px;
  object-fit: cover;
  }

.virtual-healthcare {
  font-weight: 700;
  color: #000000;
  font-size: 48px;
  letter-spacing: 0;
  line-height: 56px;
}

.text-sub-header {
  width: 427px;
  font-weight: 300;
  color: #7c7987;
  font-size: 21px;
  letter-spacing: 0;
  line-height: 32px;
}

.right-side-virtual-healthcare{
  position: relative;
  bottom: 100px;
  right: 30px;
}

.consult-btn {
  width: 200px;
  height: 56px;
  background-color: #458ff6;
  border-radius: 55px;
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  white-space: nowrap;
  border-color: #458ff6;
}

.consult-btn:hover {
  border-color: #646cff;
}

.element{
  margin-top: 57px;
  margin-bottom: 8px;
}

/*___________SERVICES_________________*/

.title-services{
  text-align: center;
  font-weight: 700;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: 56px;
  white-space: nowrap;
}

.wrap-divider-services{
  width:inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 26px;
  margin-bottom: 33px;
}

.divider{
  width: 56px;
  height: 2px;
  background-color: #000000;
  border-radius: 5px;
}

.disc-services{
  margin-left: 250px;
  margin-right: 270px;
  font-weight: 300;
  color: #7c7987;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
}

.array-cards{
  display:flex;
  flex-wrap: wrap;
  margin-left: 240px;
  margin-top: 80px;
  margin-bottom: -90px;
}

.background-class{
  z-index: -2;
  background: url('/src/assets/images/background.svg');
  background-size: 764px 619px;
  background-repeat: no-repeat;
}

.element-background{
  z-index: -2;
  position: relative;
  left: 1035px;
  bottom: 495px;
}

.card{
width: 350px;
height: 354px;
background-color: #ffffff;
border-radius: 20px;
margin-bottom: 37px;
margin-right: 34px;
box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);
}

.card-image{
  margin-top: 50px;
  margin-left: 37px;
}

.card-title{
font-weight: 700;
color: #000000;
font-size: 24px;
letter-spacing: 0;
line-height: 56px;
margin-left: 39px;

}

.card-desc{
width: 266px;
font-weight: 300;
color: #7c7987;
font-size: 16px;
letter-spacing: 0;
line-height: 28px;
margin-left: 39px;
}

.btn-learnmore{
  width: 200px;
  height: 56px;
  border-radius: 55px;
  border: 1.4px solid;
  border-color: #458ff6;
  background-color: white;
  color: #458ff6;
  font-weight: 700;
  font-size: 18px;
  white-space: nowrap;
}
.wrap-btn-services{
  width:inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*___________PROVIDERS_________________*/

.provider{
  display: flex;
  margin-top: 220px;
  margin-left: 135px;
  margin-right: 192px;
}

.left-side-provider{
  display: block;
  margin-right: 142px;

}

.wrap-divider-provider{
  width:inherit;
  margin-top: 26px;
  margin-bottom: 33px;
}

.provider-header{
  width: 481px;
  font-weight: 700;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: 56px;
}

.text-provider{
  width: 450px;
  font-weight: 300;
  color: #7c7987;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 30px;
}

.wrap-btn-provider{
  width:inherit;
  display: flex;
  align-items: start;
  justify-content: start;
  margin-top: 26px;
  margin-bottom: 33px;

}

.wrap-elem-provider{
  display: flex;
  width:inherit;
  align-items:end;
  justify-content: end;

}

/*___________MOBILE-APP_________________*/

.mobile-app{
  margin-top: 126px;
  margin-left: 240px;
  display: flex;
}

.dwnld-mobile{
  width: 254px;
  font-weight: 700;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: 48px;
}

.dwnld-vector
{
  margin-left: 10px;
}

.text-mobile-app{
  width: 420px;
  font-weight: 300;
  color: #7c7987;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 30px;
}

.left-side-mobile-app{
  margin-right: 71px;
}

.right-side-mobile-app{
  margin-right: 164px;
  width: 665px;
  height: 434px;
}

/*_________________________SLIDER_________________________*/
.slider-card{
  margin-top: 260px;
  margin-left: 242px;
  margin-right: 238px;
  width: 1120px;
  height: 425px;
  border-radius: 24px;
  background: linear-gradient(180deg, rgb(103, 195, 243) 0%, rgb(90, 152, 242) 100%);
  overflow: hidden;
}

.slider-card-title{
  font-weight: 700;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: 48px;
  white-space: nowrap;
  padding-left: 300px;
  padding-top: 64px;
  
}


.elem-slider{
  position:absolute;
  right: 168px;

}
.wrap-divider-slider{
  margin-top: 25px;
  display: flex;
  width:inherit;
  align-items:center;
  justify-content: center;

}
.divider-white{
  width: 56px;
  height: 2px;
  border-radius: 5px;
  background-color: white;
}
.author{
  display: flex;
  margin-left: 110px;
}
.comment-block{
  margin-top: 65px;
}

.wrap-avatar{
  width: 141px;
  height: 141px;
  overflow:hidden;
  background-color: #ffffff;
  border-radius: 50%;
  border: 5px solid white;
  margin-right: 29px;

}

.avatar{
  position: relative;
  right:90px;
  bottom: 120px;
  width: 250%;
  height: auto;
  object-fit:cover;
  border-radius: 50%;
}

.name-author{
  margin-top: 35px;
  font-weight: 700;
  color: #ffffff;
  font-size: 22px;
  letter-spacing: 0;
  white-space: nowrap;
}

.job-author{
  margin-top: 10px;
  font-weight: 400;
  color: #ffffffd9;
  font-size: 18px;
  letter-spacing: 0;
  white-space: nowrap;
}

.text-slider{

font-weight: 400;
color: #ffffffe6;
font-size: 19px;
letter-spacing: 0;
line-height: 30px;
}

.wrap-text-slider{
  width: 420px;
  margin-left: 110px;
}

.button-left{
  background-image: url('/src/assets/images/arrow-right.svg');
  background-size: cover;
  transform: scale(-1, 1);
  width: 28px;
  height: 18px;
  margin-right: 60px;
  border: none;
  background-color: #ffffff;
}

.button-right{
  border: none;
  background-image: url('/src/assets/images/arrow-right.svg');
  background-size: cover;
  width: 28px;
  height: 18px;
  margin-left: 90px;
  background-color: #ffffff;
}
.button-right.disabled{
  background-image: url('/src/assets/images/arrow-left.svg');
  transform: scale(-1, 1);

}

.button-left.disabled{
  background-image: url('/src/assets/images/arrow-left.svg');
  transform: scale(1, -1);
}

.wrap-manage-slider{
  width: inherit;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 40px;
}

.circle {
  width: 10px;
  height: 10px;
  margin: 0 3px;
  background-color: lightgray;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 30px;
}

.circle.selected {
  background-color: #3498db;
}

.about-author{
  width: 170px;
}


/*________________________ARTICLES___________________________________*/

.wrap-title-articles{
  margin-top: 220px;
  display: flex;
  width: inherit;
  align-items: center;
  justify-content: center;
}

.title-articles{
font-weight: 700;
color: #000000;
font-size: 36px;
letter-spacing: 0;
line-height: 56px;
white-space: nowrap;
}

.array-articles{
  display: flex;
  flex-wrap: wrap;
  margin-left: 240px;
}

.article{
  margin-right: 34px;
  margin-bottom: 37px;
  width: 350px;
  height: 512px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);
}

.article-image{
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  width: 350px;
  height: 240px;
  object-fit: cover;
}
.article-title{
  margin-top: 21px;
  margin-bottom: 12px;
  margin-left: 33px;
  margin-right: 66px;
  font-weight: 700;
  color: #000000;
  font-size: 21px;
  letter-spacing: 0;
  line-height: 32px;

}
.article-desc{
  width: 266px;
  font-weight: 300;
  color: #7c7987;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 28px;
  margin-left: 33px;
  margin-right: 66px;
  margin-bottom: 25px;
}
.read-more{
  font-weight: 600;
  color: #3f88ed;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 28px;
  margin-left: 33px;
}

.wrap-btn-view-all{
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 33px;

}

.btn-view-all{
  width: 200px;
  height: 56px;
  border-radius: 55px;
  border: 1.4px solid;
  border-color: #458ff6;
  background-color: white;
  color: #458ff6;
  font-weight: 700;
  font-size: 18px;
}

/*_____________________FOOOOTERRR______________________*/

.footer{
  margin: 0px;
  display: flex;
  margin-top: 200px;
  width: 100%;
  height: 430px;
  background: linear-gradient(180deg, rgb(103, 195, 243) 0%, rgb(90, 152, 242) 100%);
  overflow:hidden;
}

.ellipse-footer {
  margin-left: 191px;
  margin-top: 118px;
  width: 41px;
  height: 41px;
  background-color: #ffffff;
  border-radius: 20.5px;
  }

.logo-letter-footer{
  display: block;
  margin-left: 12px;
  margin-top: 4px;
  width: 17px;
  font-weight: 700;
  color: #5b9bf3;
  font-size: 26px;
  letter-spacing: 0;
  }
.title-footer{
  margin-top: 124px;
  margin-left: 12px;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.text-about-company{
  margin-left: 190px;
  width: 391px;
  font-weight: 300;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28px;
}

.footer-company{
  margin-top: 31px;
  margin-left: 190px;
  width: 391px;
  font-weight: 300;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 28px;
}

.catalog-footer{
  margin-top: 118px;
  margin-left: 145px;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 50px;
  white-space: nowrap;
}

.list-links{
  margin-left: 105px;
  list-style-type:none;
}

.list-links li a{
  text-decoration: none;
  font-weight: 300;
color: #ffffff;
font-size: 18px;
letter-spacing: 0;
line-height: 38px;
}

.wrap-elem-footer{
  margin-bottom: 50px;
}
